<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Flask Google Maps Full Map Example</title>
            <link rel="stylesheet" href="">
            {{fullmap.js}}
    </head>
    <body>
        <h1>Flask Google Maps Full Map Example</h1>
        {{ fullmap.html }}
	<script type="text/javascript">
		setInterval(function() {
		elms = document.getElementsByClassName('countdown');
		for(var i = 0; i < elms.length; i++) {
			var expiredate = new Date(elms[i].dataset.timestamp * 1000);
			var diff = Math.floor((expiredate - new Date()) / 1000);
			if (diff > 0) {
				var str = (diff/60>=1?Math.floor(diff/60) + ' minutes, ':'') + diff%60 + ' seconds from now';
			} else {
				diff = Math.abs(diff);
				var str = (diff/60>=1?Math.floor(diff/60) + ' minutes, ':'') + diff%60 + ' seconds ago';
			}
			elms[i].innerHTML = str;
		}
	}, 1000);
	</script>
    </body>
</html>

